<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <add name="POSConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Aspire2 Student\Documents\AL\DC305_ApplicationDev\IntegratedResto\RestoManagement\POS.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
  
</configuration>